
.thumbnail .caption {
  padding: 0;
  padding-top: 4px;
  padding-left: 3px;
  font-size: 0.9em;
}

/* 
p {
	color: black;  
}

body {
 	color: black;   
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
*/



/* Image
---------------*/
img {
	max-width: 100%;
	max-height: 80%;
	padding: 3px;
	border: 2px solid #ccc;  /* light grey */
	
}

.image {
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	padding: 0;  
	text-align: center;
  
  /* Visual */
	border-radius: 1px;
	border: 2px solid #ccc;  /* light grey */
}

.figure {
	margin-left:  0;
	margin-right: 0;
	padding: 0;  
	text-align: center;
  
  /* Visual */
	border-radius: 1px;
	border: 2px solid #ccc;  /* light grey */
}


/* -----------div tips------------- */
/* adapted from  */
/* http://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/ */


  div.puzzle, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }
  
  
/* -----------another set of customized divs------------- */
/* this one is adapted from  */
/* https://github.com/koalaverse/homlr */
/* need to get and fix icons if i want to use it  */


.note, .tip, .warning, .question, .exercise {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #FEF9E7 5px center/3em no-repeat;
}
